<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>进行银行卡绑定</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="http://114.80.54.76:48081/unspay-creditCardRepayment-business/h5/bind/css/index.css"/>
    <script src="http://114.80.54.76:48081/unspay-creditCardRepayment-business/h5/bind/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">            //	    响应式布局			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';			window.addEventListener('resize', function() {				document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';			})		</script>
</head>
<body>
<div class="unspay bingingCard clearfix">
    <form action="http://114.80.54.76:48081/unspay-creditCardRepayment-business/bind/checkCardInfo" method="post">
        <div class="bindheader"><p class="merchantName"> 商户名称：荣耀致新（重庆）网络科技有限公司 </p>
            <p>您好！请输入银行卡信息进行绑定银行卡！</p>
            <p class="please"> 请填写持卡人本人的银行卡，银生宝保障你的用卡安全，请放心填写。 </p></div>
        <div class="card-type" style="border-top:1px solid #E0E1E5;"><span class="sub-type">卡号</span>
            <div class="type-right"><p class="icbc"><span>招商银行-借记卡</span></p>
                <p class="weih">622588****0173</p></div>
        </div>
        <div class="mes-content clearfix">
            <div class="nameTel" style="padding-left:0.3rem">
                <p class="name clearfix" class="sub-name">真实姓名</label>
                    <input type="text" placeholder="请填写真实姓名" name="name" id="username" readonly="readonly" value="陈浩">
                    <input type="hidden"id="bankName" name="bankName" value="招商银行"/>
                    <input type="hidden" name="cardNo" id="cardNo" value="6225882304840173"/>
                    <input type="hidden" name="merchantNo" id="merchantNo" value="2110000000000000000375"/>
                    <input type="hidden" name="cardType" id="cardType" value="0"/>
                    <input type="hidden" name="responseUrl" id="responseUrl" value="http://huanghongfei.free.ngrok.cc/pay/back/unspay/h5BindBack"/>
                </p>
                <p class="name clearfix" style="border-bottom:none">
                    <label class="sub-name">身份证号码</label>
                    <input type="text" placeholder="请填写真实身份证号码" name="idCardNo" id="IDcard" readonly="readonly" value="500113198802046513"/></p>
            </div>
            <p class="encrypt"><span class="write-mes">信息加密处理，仅用于银行验证</span></p>
            <p class="name clearfix" style="padding:0 0.3rem;margin-top: 0.2rem;border-top:1px solid #E0E1E5;">
                <label class="sub-name">手机号</label>
                <input type="text" placeholder="请填写您在该银行预留的手机号码" name="phone" id="phone" style="margin-right:0.6rem"></p>
        </div>
        <p style="padding: 0.3rem;font-size: 0.22rem;">
            <input type="checkbox" id="checkbox" style="vertical-align: middle;width:0.2rem;height:0.2rem"/>
            <span style="vertical-align: middle;">&nbsp;我已阅读</span>
            <a href="http://114.80.54.76:48081/unspay-creditCardRepayment-business/h5/bind/unspay_xieyi.html">
                <em style="color: #007AFF;font-style: normal;font-size: 0.22rem;vertical-align: middle;">《银生宝快捷支付协议》</em></a>
        </p>
        <div style="width:92%;" class="btn">
            <button id="btnSubmit" type="button">下一步</button>
        </div>
    </form>
</div>
<footer class="logo1 clearfix" style="text-align: center;margin-top: 0.3rem;"><img
        src="http://114.80.54.76:48081/unspay-creditCardRepayment-business/h5/bind/img/logo.png" alt=""/></footer>
<!--提示弹框-->
<div class="mask"></div>
<div class="alert"><h1>温馨提示</h1>
    <p>不正确</p>            <span class="iknow">知道了</span></div>
<script>            /* var scrollHeight = $(document.body).height();			var clientHeight = $(window).height();			//	console.log(scrollHeight);			//	console.log(clientHeight);			if(scrollHeight < clientHeight) {				$(".logo1").css({					'width': '100%',					'position': 'absolute',					'textAlign': 'center',					'bottom': '0',				})			} else {				$(".logo1").css({					'height': 'scrollHeight',					'textAlign': 'center'				})			} */                    </script>
<script type="text/javascript">            var username = $("#username"), IDcard = $("#IDcard"), date = $("#date"),
    safeCode = $("#safeCode"), phone = $("#phone"), checkbox = $("#checkbox"), input = $("form").find("input");
var a, b;
var c, d, e, f;
var btnSubmit = document.getElementById("btnSubmit");
var reg1 = /[\u4e00-\u9fa5]+/;
var reg2 = /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;
var reg3 = /^(?:0[1-9]|1[0-2])[\d]{2}$/;
var reg4 = /^\d{3}$/;
var reg5 = /^1[34578]\d{9}$/;

function check() {
    if (!reg1.test(username.val())) {
        shown("请填写您的真实姓名");
        a = false;
        return;
    } else {
        a = true;
    }
    if (!reg2.test(IDcard.val())) {
        shown("身份证格式不正确");
        b = false;
        return;
    } else {
        b = true;
    }
    var str = $("#cardType").val();
    if (str == "1") {
        //如果是信用卡验证以下两个参数
        if(!reg3.test(date.val())) {
            shown("日期格式月份年份<br>(如：1016)");
            c = false;
            return;
        } else {
            c = true;
        }
        if(!reg4.test(safeCode.val())) {
            shown("输入卡片背面最后三位数");
            d = false;
            return;
        } else {
            d = true;
        }
    }
    if(!reg5.test(phone.val())) {
        shown("请输入银行预留手机号");
        e = false;
        return;
    } else {
        e = true;
        btnSubmit.type = "submit";
    }
    if(true == checkbox.is(":checked")){
        f = true;
    }else{
        f = false;
    }
};
username.on("input", function() { //姓名
    if($(this).val() == "") {
        a = false;
    } else {
        a = true;
    }
    ss();
})
IDcard.on("input", function() { //身份证
    if($(this).val() == "") {
        b = false;
    } else {
        b = true;
    }
    ss();
})
var str = $("#cardType").val();
if(str == "1"){
    date.on("input", function() { //日期
    if($(this).val() == "") {
        c = false;
    } else {
        c = true;
    }
        ss();
    })
    safeCode.on("input", function() { //安全码
        if($(this).val() == "") {
            d = false;
        } else {
            d = true;
        }
        ss();
    })
}else{
    c = true;
    d = true;
    ss();
}
phone.on("input", function() { //手机
    if($(this).val() == "") {
        e = false;
    } else {
        e = true;
    }
    ss();
})
checkbox.on("click", function() { //是否勾选已读
    if(true == checkbox.is(":checked")){
        f = true;
    }else{
        f = false;
    }
    ss();
})
btnSubmit.onclick = function() {
    if(check()){
        /* var str = $("#cardType").val();
        if(str == "1"){
        //如果是信用卡验证以下两个参数
        if(!reg3.test(date.val())) {
        shown("日期格式<br>（如：10/16)");
        return;
    }
    if(!reg4.test(safeCode.val())) {
        shown("输入卡片背面最后三位数");
        return;
    }
    } */
        $("form").submit();
    }
}
function ss() {
    if(/* a && b &&  */c && d && e && f) {
        btnSubmit.style.backgroundColor = "#0068B7";
        btnSubmit.style.pointerEvents = "auto";
    } else {
        btnSubmit.style.backgroundColor = "#DFE1E5";
        btnSubmit.style.pointerEvents = "none";
        btnSubmit.type = "button";
    }
};
function closed(target) {
    $(".mask").hide();
    $(".alert").hide();
};
function shown(mes) {
    var ele = document.documentElement || document.dody;
    var x = (ele.clientWidth - $(".alert").width()) / 2;
    var y = (ele.clientHeight - $(".alert").height()) / 2;
    $(".alert").css({
        left: x,
        top: y
    });
    $(".mask").show();
    $(".alert").show();
    $(".alert").find("p").html(mes);			};
$(".iknow").on("click", function() {
    closed();
});
</script>
</body>
</html>
